---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import QuienesSomos from '../components/Quienes_somos.astro';
import MisionYVision from '../components/Mision_y_vision.astro';
import Bar from '../components/Bar.astro';
import NuestroServicio from '../components/Nuestro_servicio.astro';
import Proyectos from '../components/Proyectos.astro';
import Beneficio from '../components/Beneficios.astro';
import Whatsapp from '../components/Whatsapp.astro';
---

<Layout title="Cadico">
	<main>
	<Header/>
	<QuienesSomos/>
	<MisionYVision/>
	<Bar/>
	<NuestroServicio/>
	<Proyectos/>
	<Beneficio/>
	<Whatsapp/>
	</main>
</Layout>
