
<div class="btn-wsp">
    <a href="https://wa.me/+528711581546 " target="_blank">
      <img src="whatsapp.png" alt="WhatsApp"/>
    </a>
  </div>
  
  <style>
    .btn-wsp {
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 9999;
    }
  
    .btn-wsp a {
      display: block;
      width: 55px;
      height: 55px; 
    }
  
    .btn-wsp img {
      width: 100%;
      height: auto; 
    }
  </style>